In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:20]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:20]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:20]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:20]:
    experience=i.text
    experience_required.append(experience)

In [10]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - New Delhi, Bangalore/Bengaluru, Mumba...",Sejal Consulting Hub,0-5 Yrs
2,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
3,Manager/Senior Manager - Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Junior Data Analyst,Bangalore/Bengaluru,RCPC,0-1 Yrs
5,Manager - Data Analyst,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Huquo Consulting Pvt. Ltd,3-8 Yrs
6,Data Analysts - Compliance Surveillance,Hybrid - Bangalore/Bengaluru,Standard Chartered Bank,4-9 Yrs
7,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
8,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
9,Data Analyst / Sr. Data Analyst / Lead,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...",Client Of Logical Hiring,3-12 Yrs
10,Data Analyst,Bangalore/Bengaluru,CPA Global,5-10 Yrs
11,Data Analyst/Sr Data Analyst,Bangalore/Bengaluru,Adecco Group,1-4 Yrs
12,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
13,Business Analyst/Senior Business Analyst- Data...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Huquo Consulting Pvt. Ltd,2-5 Yrs
14,Business Data Analysts (People & Culture),Bangalore/Bengaluru,Zscaler Softech,5-6 Yrs
15,"Data Analyst , Data Analytics",Bangalore/Bengaluru,Cardinal Drugs Ltd.,3-8 Yrs
16,Data Analyst,Bangalore/Bengaluru,Xpheno,2-5 Yrs
17,Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Goldenpi Technologies,2-4 Yrs
18,Data Analyst - Python/Power BI,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",Huquo Consulting Pvt. Ltd,5-10 Yrs
19,senior data managment analyst,Bangalore/Bengaluru,Wells Fargo,7-9 Yrs

In [ ]:
Answer-2

In [13]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [19]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [20]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [21]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra,7-12 Yrs
2,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
3,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
4,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
5,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft,8-12 Yrs
6,Data Scientist Knowledge graph,"Hybrid - Pune, Bangalore/Bengaluru",Capco,7-12 Yrs
7,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
8,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks,7-11 Yrs
9,Research Scientist,Bangalore/Bengaluru,Siemens,2-5 Yrs

In [ ]:
Answer_3

In [2]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [9]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [10]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Delhi / NCR, Hyderabad/Secunderaba...",Tech Mahindra,7-12 Yrs
2,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
3,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft,8-12 Yrs
4,Analytic Delivery Lead,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Gharondaa Advisors,10-16 Yrs
5,Job | Hiring For AVP/ VP | Senior Data Scienti...,"Hybrid - Pune, Gurgaon/Gurugram, Bangalore/Ben...",Citicorp Finance,8-13 Yrs
6,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Delhi / NCR, Gurgaon/Gurugram, Bangal...",PayU,3-5 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Data Scientist,"Temp. WFH - Noida, Pune, Bangalore/Bengaluru",Infogain,6-8 Yrs
9,Data Scientist (HR),"Mumbai, New Delhi, Hyderabad/Secunderabad",NCR Corporation,1-2 Yrs

In [ ]:
Answer_4

In [34]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [35]:
driver.get("http://www.flipkart.com/")

In [36]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [37]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [38]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [39]:
brand=[]
price=[]
product_description=[]

In [40]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        bd=i.text
        brand.append(bd)
    
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        PR=i.text
        price.append(PR)
    
    desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc_tags[0:100]:
        PD=i.text
        product_description.append(PD)

In [72]:
df=pd.DataFrame({'Brand':brand[:100],"Price":price[:100],'Description':product_description[:100]})
df

,Brand,Price,Description
0,corsac,₹599,UV Protection Wayfarer Sunglasses (Free Size)
1,BRUTON,₹149,"UV Protection Cat-eye, Retro Square, Oval, Rou..."
2,aadi,₹499,UV Protection Rectangular Sunglasses (Free Size)
3,World Wear Footwear,₹129,"UV Protection Cat-eye, Retro Square, Oval, Rou..."
4,SFR,₹229,UV Protection Round Sunglasses (54)
...,...,...,...
95,Footox,₹149,UV Protection Wayfarer Sunglasses (50)
96,Kzaara,₹579,UV Protection Aviator Sunglasses (Free Size)
97,Kraasa,₹579,"Gradient, UV Protection Wayfarer Sunglasses (F..."
98,aadi,₹129,"UV Protection, Polarized Rectangular Sunglasse..."
99,BRUTON,₹244,UV Protection Aviator Sunglasses (54)

In [ ]:
Answer_5 # Given link was not working so used this

In [50]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [51]:
driver.get("http://www.flipkart.com/")

In [52]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [53]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('iphone11')

In [54]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [55]:
product=driver.find_element(By.CLASS_NAME,"_4rR01T")
product.click()

In [56]:
rating=[]
review_summary=[]
full_review=[]

In [57]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:100]:
    RA=i.text
    rating.append(RA)

In [58]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:100]:
    RE=i.text
    review_summary.append(RE)

In [59]:
reviewfull_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in reviewfull_tags[0:100]:
    RS=i.text
    full_review.append(RS)

In [61]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
3,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
4,4,Good quality product,impressively Nice......\nOne of the greatest i...
5,5,Perfect product!,Nice products thanks flkat
6,5,Simply awesome,Really satisfied with the Product I received.....
7,4,Wonderful,"Really Good Phone , Better than Many Mobile in..."

In [ ]:
Answer_6

In [62]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [63]:
driver.get("http://www.flipkart.com/")

In [64]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [65]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sneakers')

In [66]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [67]:
brand=[]
description=[]
rate=[]

In [68]:
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        bd=i.text
        brand.append(bd)
        
    desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc_tags[0:100]:
        DS=i.text
        description.append(DS)

    rate_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate_tags[0:100]:
        RT=i.text
        rate.append(RT)

In [69]:
print(len(brand),len(description),len(price))

120 114 120

In [71]:
df=pd.DataFrame({'Brand':brand[:100],'Product_Description':description[:100],'Price':rate[:100]})
df

,Brand,Product_Description,Price
0,corsac,2 Combo Sneaker Shoes Sneakers For Men,₹494
1,BRUTON,Synthetic Leather |Lightweight|Comfort|Summer|...,₹599
2,aadi,5011-Latest Collection Stylish & Trendy Casual...,₹434
3,World Wear Footwear,Sneakers For Men,₹399
4,SFR,ST Activate V2 Sneakers For Men,₹399
...,...,...,...
95,Footox,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹663
96,Kzaara,Premium White Casual Shoes For Men Sneakers Fo...,₹329
97,Kraasa,ACTIVE RUN Sneakers For Men,₹499
98,aadi,Sneakers For Men,₹360
99,BRUTON,Latest Collection-1216 Stylish Casual Sports S...,₹599

In [ ]:
Answer_7

In [73]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [74]:
driver.get("https://www.amazon.in/")

In [75]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptops')

In [76]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [78]:
title=[]
rating=[]
price=[]

In [79]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    tt=i.text
    title.append(tt)

In [80]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    PR=i.text
    price.append(PR)

In [85]:
rating_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[1]/div/span[1]/div[1]/div[3]/div/div/div/div/div/div/div/div[2]/div/div/div[2]/div/span[1]/span/a/i[1]')
for i in rating_tags[0:10]:
    RA=i.text
    rating.append(RA)

In [86]:
print(len(rating), len(title),len(price))

11 10 10

In [89]:
df=pd.DataFrame({'Title':title,'Rating':rating[:10],'Price':price})
df

                                               Title Rating     Price
0  Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...           41,426
1  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...           32,890
2  HP 15s, AMD Athlon Silver 3050U 8GB RAM/512GB ...           29,399
3  HP 255 G8 Business Laptop with AMD Athlon Silv...           26,999
4  Lenovo IdeaPad Slim 5 AMD Ryzen 7 5700U 15.6"(...           60,018
5  Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...           60,927
6  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...         1,94,900
7  HP 15s, 12th Gen Intel Core i5 8GB RAM/512GB S...         1,34,990
8  Lenovo IdeaPad D330 Intel Celeron N4020 10.1" ...
9  Lenovo V15 Intel Celeron N4020 15.6" (39.62 cm...

In [ ]:
Answer_8

In [96]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [97]:
driver.get("https://www.azquotes.com/")

In [98]:
quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quotes.click()

In [99]:
quote = []
author = [] 
type = []

In [100]:
start=0
end=10
for page in range(start,end):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags[0:1000]:
        qt=i.text
        quote.append(qt)
        
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags[0:1000]:
        at=i.text
        author.append(at)
        
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags[0:1000]:
        tt=i.text
        type.append(tt)

In [101]:
print(len(quote),len(author),len(type))

1000 1000 1000

In [102]:
df=pd.DataFrame({'Quote':quote,'Author':author,'Type_of_quotes':type})
df

,Quote,Author,Type_of_quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [ ]:
Answer_9

In [103]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [104]:
driver.get("https://www.jagranjosh.com/")

In [107]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [108]:
list_of_pm=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
list_of_pm.click()

In [109]:
name=[]
born_dead=[]
term=[]
remarks=[]

In [126]:
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in name_tags[0:18]
nt=i.text
name.append

line_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[3]/p')
for i in line_tags[0:18]
lt=i.text
born_dead.append

term_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[4]')
for i in term_tags[0:18]
tt=i.text
term.append        

remark_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[5]/p')
for i in remark_tags[0:18]
rt=i.text
remarks.append

SyntaxError: invalid syntax (3021298822.py, line 2)

In [ ]:
Answer_10

In [127]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [128]:
driver.get("https://www.motor1.com/")

In [132]:
drop=driver.find_element(By.XPATH,'//div[@class="box-item-left"]')
drop.click()

In [137]:
feature=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a')
feature.click()

In [138]:
cars=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
cars.click()

In [139]:
name=[]
price=[]

In [142]:
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags[0:50]:
    nt=i.text
    name.append(nt)

In [153]:
price_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/p[6]/strong')
for i in price_tags[0:50]:
    pt=i.text
    price.append(pt)

In [154]:
print(len(name),len(price))

50 2

In [157]:
df=pd.DataFrame({'Cars_Name':name[:2],'Price':price[:2]})
df

       Cars_Name                Price
0      Drako GTE  Price: $1.2 Million
1  De Tomaso P72  Price: $1.3 Million